$color-cream: #efe9e4;
$color-green: #4f5347;

$font-sm: 16px;
$font-regular: 18px;
$font-md: 24px;
$font-bg: 96px;

$breakpoint-mobile: 475px;

$space-sm: 20px;
$space-md: 50px;
$space-bg: 70px;
$space-xl: 100px;
